<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>

  <link rel="stylesheet" href="css/style.css">
  <script src="js/app.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Three Lists Example</title>
</head>

<body>

  <div id="listsContainer">
    <div class="liner"></div>
    <ul id="onhall"></ul>
    <ul id="ontable"></ul>
  </div>

  <div id="table">
    <div id="desk">
      <img class="desk_table" src="images/others/table.jpg">
      <div class="desk_on_table">
        <h1 id="bank"></h1>
        <div id="grop2">
        </div>
      </div>
    </div>

    <div class="usercard_block">

    </div>
    <div class="userprofile">
      <div class="userprofile_first_block">
        <h3 class="userdata userinterface_nickname"></h3>
        <h3 class="userdata userinterface_balance"></h3>
      </div>
      <div class="userprofile_third_block ">
        <h3 class="userdata userinterface_bet">Bet</h3>
        <h3 class="userdata userinterface_bet_value">$</h3>
      </div>
    </div>
    <div id="userinterface">

      <div id="move"></div>
    </div>

</body>

</html>